main {
  position: relative;
  padding: 30px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
   /*fundo*/
   body{
   background-image:url(../../../images/global/background-main.png);
   background-size :100%;
   background-repeat: repeat-y;
   background-color: none;
}

.formulario-container {
  max-width: 910px;
  padding: 0 40px;
}

/* Parte de cima */
.formulario-top h1 {
  text-align: center;
  color: #e84b2a;
  font-family: 'MyriadProBlack',sans-serif;
  font-size: 37px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 30px;
}

#formulario-trabalho {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-family: 'MyriadProRegular'sans-serif;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="file"] {
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f1ebeb;
}

input[type="file"] {
  display: none;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-row .form-group {
  flex: 1;
}

/* Parte de baixo */
.formulario-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
  gap: 30px;
}

.imagem-box img {
  max-width: 350px;
  height: auto;
}

.form-extra {
  flex: 5 5;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-upload {
  background-color: #e35f1d;
  color: white;
  font-size: 22px;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

.file-name {
  margin-left: 10px;
  font-size: 13px;
  color:black;
}
.recaptcha{
  position:relative;
  max-width: 400px;
  height: auto;
  margin-top: 10px;
  left: 0;
}


.btn-enviar {
  align-items: center;
  background-color: #e35f1d;
  color: white;
  padding: 15px 30px;
  font-size: 22px;
  text-align: center;
  border: none;
  cursor: pointer;
  
}

.politica {
  font-size: 13px;
  color:black;
}

.politica a {
  color: #e35f1d;
  text-decoration: underline;
}
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 90%;
  max-width: 700px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  font-size: 22px;
  color: #002244;
}

.modal-content p {
  color: #444;
  line-height: 1.6;
  margin: 20px 0;
}

.modal .fechar {
  background-color: #e35f1d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.modal-content span.fechar {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 26px;
  color: #002244;
  background: none;
  border: none;
  cursor: pointer;
}
