
body{
     background-image: url(../../../images/global/background-main2.png);
    background-size: 900px auto;
    background-attachment: local;
    background-position: right;
    background-repeat: repeat-y;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

/* Container geral da seção */
.historia-section {
    max-width: 1000px;
    position: relative;
    font-family: 'MyriadProRegular',sans-serif;
    margin: 0 auto;
    padding: 10px 0;
}

/* Título */
.titulo {
    text-align: center;
    color: #e84b2a;
    font-family: 'MyriadProBlack',sans-serif;
    font-size: 38px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 10px;
}
.historia-grid{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Reduzindo largura das colunas e aproximando da timeline */
.column-left{
    top: 360px;
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
    padding-right: 0;
    margin-right: 0;
}

/* Timeline centralizada */
.timeline-container {
    width: 50%;
    position: relative;
    border-left: 2px solid #003366;
    margin-top: 50px;
    padding-left: 20px;
    box-sizing: border-box;
}
.pilars{
    box-sizing: border-box;
    margin-left: 0;
    background: white;
    margin-bottom: 60px;

}
.pilars img{
    display: block;
    max-width: 600px;
    width:100%;
    object-fit: cover;
}
/* Coluna direita */
.column-right{
    top: 380px;
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
}

/* Ajustando tamanho das imagens */
.column-left img{
    max-width: 150px;
    width: 90%;
    height: auto;
    object-fit: contain;
    margin-bottom: 15px;
    margin-right: 25px;
}

.column-right img{
    max-width: 230px;
    width: 95%;
    height: auto;
    object-fit: contain;
    margin-bottom: 15px;
    margin-left: 1px;
}

/* Cada item da timeline */
.timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 10px;
    z-index: 2;
}

.timeline-item::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -5px;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 60%;
    z-index: 0;
}

/* Bolinha azul */
.dot {
    position: absolute;
    left: -35px;
    top: 0;
    width: 25px;
    height: 25px;
    background: white;
    border: 1px solid #003366;
    border-radius: 70%;
    color: #003366;
    z-index: 2;
}

.dot::after{
    content: attr(data-year);
    background-color: white;
    position: absolute;
    left: -10px;
    top: -50px;
    font-size: 22px;
    font-weight: 600;
    color: #003366;
}

/* Texto da timeline */
.timeline-item p {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    font-family: 'MyriadProRegular',sans-serif;
    text-align: justify;
    margin: 0;
}

/* Logo final */
.logo-final {
    background-color: #003366;
    max-width: 240px;
    display: block;
    margin-left: -140px;
    
}

/* Texto azul do final */
.timeline-item:last-child p {
    font-family: 'MyriadProRegular',sans-serif;
    color: #003366;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
}


.botao-voltar {
    position: absolute;
    right: 220px ;
    bottom: 0;
    text-align: right;
    font-family: 'MyriadProRegular', sans-serif;
    font-size: 15px;
    color: #003366;
    cursor: pointer;
    text-decoration: none;
}

