/* Media queries mínimas para garantir a visualização em telas pequenas */
@media screen and (max-width: 1200px) {
  .index-main-content,
  .meumaxclube-banner,
  .folheto-container,
  .atacado-banner,
  .botao-voltar {
    width: 80%;
  }
  .index-main-content{
    height: 100%;
    }
  .banner-slider{
    width: 80%;
  }
  .slider-controls span {
    font-size: 0.7rem;
  }
  .compre-banner{
    width:40%;
}
.botao-voltar {
  font-size: 0.8rem;
}
}

@media screen and (max-width: 992px) {
  .index-main-content,
  .meumaxclube-banner,
  .folheto-container,
  .atacado-banner,
  .botao-voltar {
    width: 85%;
  }
  .index-main-content{
  height: 100%;
  }
  .banner-slider{
    width: 80%;
  }
  .slider-controls span {
    font-size: 0.9rem;
  }
  .compre-banner{
    width:40%;
}
.botao-voltar {
  font-size: 0.9rem;
}
}

@media screen and (max-width: 768px) {
  /* Apenas ajustes sutis para manter proporcionalidade */
  .index-main-content {
    gap: 3px;
  }
  
  .side-images img,
  .call-button img,
  .call-button a {
    width: calc(100vw / 7);
  }
}

@media screen and (max-width: 576px) {
  .index-main-content {
    width: 85%;
    height: 100%;
  }
  .banner-slider{
    width: 68%;
  }
  .slider-controls span {
    font-size: 0.9rem;
  }
  .compre-banner{
    width:33%;

  }
  .botao-voltar {
    font-size: 8px;
}
}