/* Media queries mínimas para garantir a visualização em telas pequenas */
@media screen and (max-width: 1200px) {
  .index-main-content,
  .meumaxclube-banner,
  .folheto-container,
  .atacado-banner,
  .botao-voltar {
    width: 85%;
  }
}

@media screen and (max-width: 992px) {
  .index-main-content,
  .meumaxclube-banner,
  .folheto-container,
  .atacado-banner,
  .botao-voltar {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  /* Apenas ajustes sutis para manter proporcionalidade */
  .index-main-content {
    gap: 3px;
  }
  
  /* Garantir que a seção de receitas se comporte bem */
  .side-images img,
  .call-button img,
  .call-button a {
    width: calc(100vw / 7);
  }
}

@media screen and (max-width: 576px) {
  /* Em telas muito pequenas, precisamos de alguns ajustes mínimos */
  .index-main-content {
    width: 85%;
    height: 290px;
  }
}