/* ---------------------------------------------------------------------------
   Footer 
--------------------------------------------------------------------------- */

.site-footer {
  position: relative;
  border-top: 20px solid #e84b2a;
  background-image: url(../../images/global/footer-design.png);
  background-color: #183e85;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  color: #ffffff;
  padding: 50px 0 20px;
  font-family: 'MyriadProRegular', sans-serif;
  text-align: center;
}

.site-footer .store-addresses {
  display: flex;
  justify-content: center;
  gap: 5px;
  max-width: 900px;
  margin: 0 auto 20px;
  padding: 0 5px;
  text-align: left;
}

.site-footer .store-addresses div {
  flex: 1;
}

.site-footer .store-addresses p {
  margin: 6px 0;
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
  line-height: 1.6;
  color: #ffffff;
}

.site-footer .store-addresses strong {
  font-family: 'MyriadProBlack', sans-serif;
  color: #e84b2a;
  font-size: 16px;
  font-weight: 900;
}

.site-footer .footer-center {
  text-align: center;
  margin-top: 5px;
}

.site-footer .footer-center img {
  max-width: 200px;
  height: auto;
  margin: 0 auto 8px;
  display: block;
}

.site-footer .footer-center p {
  font-family: 'MyriadProRegular', sans-serif;
  font-size: 10px;
  margin: 0;
  opacity: 0.85;
  color: white;
}
