
@media screen and (max-width: 900px) {
  .site-footer {
    padding: 50px 0 20px;
  }
  
  .site-footer .store-addresses {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  /* Ajustes para tablets */
  .site-footer .store-addresses {
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .site-footer .store-addresses div {
    flex: 0 0 calc(50% - 10px); /* Duas colunas */
  }
}

@media screen and (max-width: 576px) {
  /* Ajustes para celulares */
  .site-footer {
    padding: 40px 0 20px;
  }
  
  .site-footer .store-addresses {
    flex-direction: column;
    gap: 30px;
  }
  
  .site-footer .store-addresses div {
    flex: 1 0 100%;
    text-align: center;
  }
  
  .site-footer .store-addresses p {
    margin: 4px 0;
  }
  
  .site-footer .footer-center img {
    max-width: 180px;
  }
}