/* Ajustes para responsividade mantendo o mesmo layout */
@media screen and (max-width: 1024px) {
  .header-top-container,
  .header-mid-container,
  .header-bottom-container {
    width: 95%;
  }
}

@media screen and (max-width: 768px) {
  /* Ajustes mínimos para garantir funcionamento em telas menores */
  .header-mid-container nav ul,
  .header-bottom-container nav ul {
    flex-wrap: wrap;
  }
  
  .header-bottom-container nav ul {
    justify-content: center;
  }
}

/* Para telas muito pequenas, apenas garantir que textos não quebrem o layout */
@media screen and (max-width: 480px) {
  .header-top .logo img {
    margin: 0 auto;
    max-width: 110px;
  }
  .header-top .social-links img{
    max-width: 16px;
  }
  
  .header-mid-container nav ul li a {
    padding: 2px 2px 2px;
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
    align-content: center;
    text-align: center;
  }
  .header-bottom-container nav ul li a{
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 0.6rem;
  }
  .header-bottom-container nav ul li a img{
    max-width: 16px;
  }
}