/* ---------------------------------------------------------------------------
   Header – estrutura e seções
--------------------------------------------------------------------------- */

/* Header Principal */
.site-header {
  position: relative;
  width: 100%;
  z-index: 999;
  font-family: 'MyriadProRegular',sans-serif;
}

/* Header Top (Azul) */
.header-top {
  background-image: url(../../images/global/background-blue.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 25px 120px;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  max-width: 1200px;
}

.header-top .logo img {
  max-width: 180px;
  display: block;
  border: none;
  position: relative;
  margin-left: 90px;
  padding-top: 20px;
}
.header-top .logo a{
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0;
  
}

.header-top .social-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 110px;
  gap:0;
}

.header-top .social-links img {
  max-width: 22px;
  color: #e2dbdb;
  margin-left: 5px;
  display: flex;
}

/* Header Mid (Laranja) */
.header-mid {
  background-color:#e84b2a;
  color: #cec7c7;
  border-bottom: 3px solid #b33900;
  padding: 10px 0;
  text-align: center;
}

.header-mid-container nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-right: 255px;
}

.header-mid-container nav ul li {
  margin: 0 10px;
}

.header-mid-container nav ul li a {
  font-family: 'MyriadProRegular',sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  white-space: nowrap;
  border-right: 1px solid white;
  padding: 0 10px 0 10px;

}

/* Header Bottom (Branco) */
.header-bottom {
  background: #fff;
  color: #333;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
  
}

.header-bottom-container nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
 
}

.header-bottom-container nav ul li {
  margin: 0 10px;
}

.header-bottom-container nav ul li a {
  font-family: 'MyriadProRegular',sans-serif;
  color: #000080;
  text-decoration: none;
  font-size: 16px;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}
.header-bottom-container nav ul li a img{
  max-width: 30px;
  max-height: 30px;
  display: inline;
  
}

