/* ---------------------------------------------------------------------------
   Pagina Televendas - Compre Online
--------------------------------------------------------------------------- */
main.compre-main {
  position: relative;
  max-width: 1200px;
  padding: 0 12% 0 10%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap; /* Evita quebra para manter 50/50 em todas as plataformas */
}

/* Fundo */
body {
  background-image: url(../../../images/global/background-main2.png);
  background-size: 900px auto;
  background-attachment: local;
  background-position: right;
  background-repeat: repeat-y;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

/*50-50 split */
.compre-content {
  width: 50%;
  box-sizing: border-box;
  padding-right: 25px;
}

section.compre {
  width: 100%;
  
}

section.compre .container {
  width: 100%;
}

/* Seção de televendas - texto e lista de lojas */
.compre h1 {
  color: #e84b2a;
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  font-family: 'MyriadProBlack', sans-serif;
  margin-bottom: 15px;
  margin-top: 15px; 
}

.compre p {
  font-family: 'MyriadProRegular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Botões WhatsApp - lista de lojas */
.btn-whatsapp {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  transition: transform 0.2s;
  border-radius: 4px;
  overflow: hidden;
}

.btn-whatsapp:last-child {
  margin-bottom: 0;
}

.btn-whatsapp:hover {
  transform: translateX(5px);
}

.btn-whatsapp img {
  width: 100%;
  height: auto;
  display: block;
}

/* Seção do infográfico Drive Thru e Delivery (50%) */
.infografico {
  width: 50%;
  margin-right: 60px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.infografico img {
  width: 128%;
  height: 100%;
  object-fit: cover;
}

/* Botão voltar */
.botao-voltar {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: 'MyriadPro', sans-serif;
  font-size: 15px;
  color: #003366;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  z-index: 10;
  padding: 5px 5px;
  margin-top: 10px;
}

 .botao-voltar:hover {
      text-decoration: underline;
    }