@media screen and (max-width: 992px) {
  main.compre-main {
    padding: 0 10%;
  }
  
  .compre h1 {
    font-size: 28px;
  }
  
  .compre p {
    font-size: 15px;
  }
  
  .infografico img {
    width: 115%;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: none;
    background-color: #fff;
  }
  
  main.compre-main {
    padding: 0 5%;
    /* Mantém o layout lado a lado */
  }
  
  .compre-content, .infografico {
    width: 45%; /* Mantém a divisão 50/50 */
  }
  
  .compre h1 {
    font-size: 20px;
  }
  
  .compre p {
    font-size: 10px;
  }
  .btn-whatsapp img {
    width: 90%;
  }
  .infografico img {
    width: 120%; /* Reduz um pouco para melhor adaptação */
    object-fit: contain;
  }
}

@media screen and (max-width: 576px) {
  .compre-content{
    width: 40%;
    margin-left: 4%;
  }
  .infografico{
    width: 48%;
    margin-right: 2%;
  }
  main.compre-main {
    padding: 0 3%;
    margin: 5px auto;
  }
  
  .compre h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .compre p {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  
  .btn-whatsapp {
    margin-bottom: 4px;
  }
  
  .infografico img {
    width: 100%; /* Reduz ainda mais para evitar overflow */
  }
}

@media screen and (max-width: 425px) {
  .compre-content{
    width: 40%;
    margin-left: 4%;
  }
  .infografico{
    width: 48%;
    margin-right: 2%;
  }

  .compre h1 {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .compre p {
    font-size: 8px;
    margin-bottom: 12px;
  }
  
  .botao-voltar {
    font-size: 13px;
  }
  
  .infografico img {
    width: 120%; /* Ajusta para evitar overflow em telas menores */
    object-fit: contain;
  }
}

@media screen and (max-width: 375px) {
  .compre-content{
    width: 40%;
    margin-left: 3%;
  }
  .infografico{
    width: 50%;
  }

  .compre h1 {
    font-size: 12px;
    margin-bottom: 8px;
  }
  
  .compre p {
    font-size: 8px;
    margin-bottom: 10px;
    line-height: 1.3;
  }
  .btn-whatsapp img {
    width: 95%;
  }
  .infografico img {
    width: 110%;
    height: 100%;
    object-fit: contain;
  }
  .btn-whatsapp {
    margin-bottom: 3px;
  }
  
  .botao-voltar {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .infografico{
    width: 50%;
  }
  
  .compre-content{
    width: 40%;
    margin-left: 3%;
  }
  .compre h1 {
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 6px;
  }
  
  .compre p {
    font-size: 6px;
    margin-bottom: 6px;
    line-height: 1.2;
  }
  .btn-whatsapp img {
    width: 95%;
  }
  .infografico img {
    width: 112%;
    height: 100%;
    object-fit: contain;
  }
  .btn-whatsapp {
    margin-bottom: 2px;
  }
  
  .botao-voltar {
    font-size: 11px;
  }
  }