/* ----------------------------------------
   Responsivo para tablets (≤ 991px)
---------------------------------------- */
@media (max-width: 991px) {
  .container h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .container p,
  .institutions,
  .mensagem-final {
    font-size: 15px;
    padding: 0 20px;
  }

  .troco-solidario img {
    max-width: 100%;
  }

  .institution {
    padding: 10px 15px;
  }

  .institution img {
    width: 50px;
    margin-bottom: 10px;
  }

  .botao-voltar {
    margin: 40px 100px 30px auto;
  }
}

/* ----------------------------------------
   Responsivo para celulares (≤ 576px)
---------------------------------------- */
@media (max-width: 576px) {
  .container h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .container p,
  .institutions,
  .agradecimento p,
  .mensagem-final {
    font-size: 14px;
    padding: 0 10px;
    text-align: justify;
  }

  .institution {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .institution img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .botao-voltar {
    text-align: center;
    margin: 30px auto 20px auto;
  }
}