body {
    background-image: url(../../../images/global/background-main.png);
    background-size: 78%;
    background-attachment: fixed;
    background-position: right;
    background-repeat: repeat-y;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  
  .container h1 {
    max-width: 1000px;
    text-align: center;
    color: #e84b2a;
    font-family: 'MyriadProBlack', sans-serif;
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 30px;
    padding:20px;
  }
  main {
    position: relative;
    padding: 30px 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
  
  
  .ofertas {
    position: relative;
    margin: 0 auto;
    width: 80%;
    max-width: 980px;
    padding-bottom: 60px;
  }
  .botao-voltar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 5px 0;
  }

  .botao-voltar {
    width: max-content;
    font-family: 'MyriadProRegular', sans-serif;
    font-size: 14px;
    color: #003366;
    cursor: pointer;
    text-decoration: none;
  }
  
  